<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       lang="en">


<body>

<div>
    <div style="text-align: center; background-color: cornflowerblue; width: 450px; padding-bottom: 5px; padding-top: 1px">
        <h3> Information for all users</h3>
    </div>
    <br>

     <div style="text-align: center; background-color: forestgreen; width: 450px; padding-bottom: 5px; padding-top: 5px">
        <div>
            <input type="button" value="Logout" onclick="window.location.href='/logout'">
        </div>
    </div>
    <br>

    <div style="text-align: center; background-color: darkgrey; width: 450px; padding-bottom: 10px; padding-top: 1px">
        <div>
            <h3>Getting files from database</h3>
            <form action="/files" method="GET">
                <input type="submit" value="Get list of files uploaded to S3"/>
            </form>
        </div>
    </div>
    <br>
    <div style="text-align: center; background-color: darkgrey; width: 450px; padding-bottom: 10px; padding-top: 1px">
        <div>
            <h3>Getting events from database</h3>
            <form action="/events" method="GET">
                <input type="submit" value="Get events"/>
            </form>
        </div>
    </div>
    <br>

    <div sec:authorize="hasAnyRole('MODERATOR, ADMIN')"
         style="text-align: center; background-color: burlywood; width: 450px; padding-bottom: 5px; padding-top: 5px">
        <div>
            <h3>Moving files to/from AWS S3</h3>
            <input type="button" value="Upload file to AWS S3" onclick="window.location.href='moderators_info'">
            <input type="button" value="Delete file from AWS S3" onclick="window.location.href='moderators_info'">
            <br><br>
            Only for moderators and administrators!
        </div>
    </div>

    <br>

   <!-- <div sec:authorize="hasRole('ADMIN')"
            style="text-align: center; background-color: cornflowerblue; width: 450px; padding-bottom: 5px; padding-top: 5px">
        <div>
            <input type="button" value="For Admins" onclick="window.location.href='admins_info'">
            Only for administrators!
        </div>
    </div>
    <br>-->

    <div sec:authorize="hasRole('ADMIN')"
            style="text-align: center; background-color: lightsalmon; width: 450px; padding-bottom: 10px; padding-top: 1px">
        <div>
            <h3>Manipulating with customers</h3>
            <form action="/customers" method="GET">
                <input type="submit" value="Get customers from database"/>
            </form>
            <br>
            <form action="/customers" method="POST">
                <input type="submit" value="Add customers to database"/>
            </form>
            <br>
            Only for administrators!
        </div>
    </div>
    <br>

</div>

</body>
</html>
